* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

/* shared styles */

.radiant-title {
    background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 42%, rgba(145, 0, 248, 1) 100%);
    background-clip: text;
    color: transparent;
}

.radiant-btn {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: white;
    line-height: 1.2rem;
}


/* navbar styles */
.nav-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}


/* banner styles */
.banner-container {
    background-image: url('./assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0rem;
}

.banner-img img {
    max-width: 100%;
}

.img-1 {
    margin-top: 0rem;
    position: relative;
}

.img-2 {
    position: absolute;
    left: 33%;
    bottom: 25%;
}

.hero-badge {
    position: absolute;
    left: 70%;
    bottom: 85%;
}

.banner-info {
    max-width: 34.38rem;
}






/* responsive design */
@media screen and (max-width:576px) {
    .banner-container {
        padding: 2.5rem 0rem;
    }

    .img-1 {
        width: 12.5rem;
        margin-left: 0rem;
        margin-top: 4rem
    }

    .img-2 {
        width: 2.92rem;
        top: 48%;
        left: 38%;
    }

    .hero-badge {
        position: absolute;
        left: 60%;
        bottom: 55%;
    }
}

/* tablet */
@media screen and (min-width:576px) and (max-width:992px) {}

/* large device */