* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}


button {
    cursor: pointer;
}

.btn-pulse {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* shared styles */

.radiant-title {
    background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 42%, rgba(145, 0, 248, 1) 100%);
    background-clip: text;
    color: transparent;
}

.radiant-btn {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: white;
    line-height: 1.2rem;
}

.radiant-bg {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: white;
}

/* navbar styles */
.nav-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}


/* banner styles */
.banner-container {
    background-image: url('./assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0rem;
}

.banner-img img {
    max-width: 100%;
}

.banner-img-container{
    position: relative;
}

.img-1 {
    margin-top: -2rem;
    /* position: relative; */
    width: 25.88rem;
}

.img-2 {
    position: absolute;
    left: 36%;
    bottom: 30%;
}

.hero-badge {
    position: absolute;
    left: 78%;
    bottom: 85%;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.banner-info {
    max-width: 34.38rem;
}

/* footer section */
footer {
    background-image: url('./assets/footer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* responsive design */
@media screen and (max-width:576px) {
    .banner-container {
        padding: 2.5rem 0rem;
        background-image: url('./Image.png');
    }

    .img-1 {
        width: 12.5rem;
        margin-left: 0rem;
        margin-top: 1rem
    }

    .img-2 {
        width: 2.92rem;
        top: 32%;
        left: 38%;
    }

    .hero-badge {
        position: absolute;
        left: 65%;
        bottom: 80%;
    }

    footer {
        background-image: url('./footer-sm.png');
    }
}

/* tablet */
@media screen and (min-width:576px) and (max-width:992px) {}

/* large device */